@page
@model PizzeriaApp.Pages.Checkout.CheckoutModel
@{
}

<h1>Your Order:</h1>
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <!--asp-append-version = true is responsible for refresh the page when updating the CSS-->
        <img class="w-100" asp-append-version="true" />
        <p>Your @Model.PizzaName is ready!</p>
        <p>Total price for your order is: @Model.PizzaPrice€</p>
        <br />
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYouPage">Confirm Order</a>
    </div>
</div>