@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to the best Pizzeria</h1>
        <h2 class="mainSubTitle">Your favourite pizza is just one click away!</h2>
    </div>
    <img class="mainImage" width="700" height="600" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Order Pizza</a>
</div>

